extends layout

block content
    main(role="main")
      section
        h1 Server Statistics
        form()
          label(for="period" aria-describedby="")
            span Stats for last 
            input(id="period", type="number", name="period", 
              min="0" step="30" placeholder="enter minutes", autocomplete="number")
          button(type="button", id="filter") FILTER
          p(id="help-text") 
            em search with empty feilds to get full server stats          
        div(class = "container")
          div(class ="row method")
            div(class ="col col-head") HTTP Methods
            div(class ="col") GET (
              span(class="get-count") 0
              span )
            div(class ="col") POST (
              span(class="post-count") 0
              span )
            div(class ="col") PUT (
              span(class="put-count") 0
              span )
            div(class ="col") DELETE (
              span(class="del-count") 0
              span )
          div(class ="row res-time")
            div(class ="col col-head") Avg Response Time 
            div(class ="col get-content") 
            div(class ="col post-content") 
            div(class ="col put-content") 
            div(class ="col del-content") 