body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.col {
  text-align: center;
  width: 15%;
  border-bottom-width: 1px;
  border: 1px solid;
  padding: 5px;
  height: 1.2em;
}
.col-head {
  width: 20%;
  font-weight: bold;
  text-align: left;
}

@media screen and (max-width: 30em){
  .row {
    flex-direction: column;
    width: 100%;
  }
  .col {
    width: 90%;
  }
  .container {
    display: flex;
  }
}

button#filter {
  background: #86cbf2;
  padding: 5px;
}

p#help-text {
  font-size: 0.9em;
}

input#period {
  padding: 5px;
}